<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <%- include ('links') %>
    <link rel="stylesheet" href="/css/events.css">
    <%- include ('prevent') %>
</head>
<body>
    <%- include ('mainHeader') %>

    <div class="section spaced">
        <div class="container events-container">
            <h2 class="head-title">UPCOMING EVENTS</h2>

            <div class="row event-row">
                <div class="col-lg-4">
                    <div class="center-items">
                        <img  src="/img/action-adults-celebration-433452.jpg" alt="">
                    </div>
                </div>

                <div class="col-lg-8 ">
                   <div class="date-location">
                       <h2><i class="fas fa-calendar-alt"></i> Thu, 20 Nov, 2020</h2>
                       <small class="small"><i class="fas fa-map-marker-alt"></i> Ikoyi Club</small>
                   </div>
                   <h2 class="objective">MEMBERS ONLY : IN CONVERSATION WITH STANLEY EVANS , BBG CHAIRMAN</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A doloremque cupiditate impedit corrupti dolores adipisci.</p>
                    <div class="small-logos">
                        <a href="#" class="details">Events Detail</a>
                        <div class="icon-div">
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-facebook-square"></i>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row event-row">
                <div class="col-lg-4">
                    <div class="center-items">
                        <img  src="/img/action-adults-celebration-433452.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-8 ">
                   <div class="date-location">
                       <h2><i class="fas fa-calendar-alt"></i> Thu, 20 Nov, 2020</h2>
                       <small class="small"><i class="fas fa-map-marker-alt"></i> Ikoyi Club</small>
                   </div>
                   <h2 class="objective">MEMBERS ONLY : IN CONVERSATION WITH STANLEY EVANS , BBG CHAIRMAN</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A doloremque cupiditate impedit corrupti dolores adipisci.</p>
                    <div class="small-logos">
                        <a href="#" class="details">Events Detail</a>
                        <div class="icon-div">
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-facebook-square"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row event-row">
                <div class="col-lg-4">
                    <div class="center-items">
                        <img  src="/img/action-adults-celebration-433452.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-8 ">
                   <div class="date-location">
                       <h2><i class="fas fa-calendar-alt"></i> Thu, 20 Nov, 2020</h2>
                       <small class="small"><i class="fas fa-map-marker-alt"></i> Ikoyi Club</small>
                   </div>
                   <h2 class="objective">MEMBERS ONLY : IN CONVERSATION WITH STANLEY EVANS , BBG CHAIRMAN</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A doloremque cupiditate impedit corrupti dolores adipisci.</p>
                    <div class="small-logos">
                        <a href="#" class="details">Events Detail</a>
                        <div class="icon-div">
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-facebook-square"></i>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>    

    
    <%- include ('mainFooter') %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    
</body>
</html>