<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>History</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" href="/css/history.css" />
  </head>
  <body>
    <%- include ('header') %>

    <div class="container">
      <h1>BBG HISTORY</h1>
      <div class="row">
        <div class="col-lg-12">
          <p class="paras">
            There has been a British Business Group in Lagos since the 1970’s,
            founded and run initially by the British High Commission before the
            establishment of Abuja- since when the British Deputy High
            Commission took over. In David Cameron’s time as Prime Minister with
            budget and staff cuts running regular meetings became a challenge
            and it seemed that the BBG would be allowed to wither away.
          </p>

          <p class="paras">
            A small working group led by Peter Crabb appealed to the BDHC to be
            allowed to take over the running of the BBG with support to be given
            from the British team at the High & Deputy High Commissions and so
            the present BBG was born from the ashes. We were extremely lucky at
            that time to have a new recruit to the working party in Stanley
            Evans who brought considerable experience of active and successful
            BBGs elsewhere.
          </p>

          <p class="paras">
            Stanley has Welsh and Irish ancestry and is a passionate Welsh
            promoter although born in the very heart of England - Welwyn Garden
            City. He has followed a very successful career in the motor industry
            and in his younger days was an active member of Round Table in
            England, rising to Hon. President of Northamptonshire and the West
            Midlands. It was when he became an expat and took an assignment with
            Porsche in India in 2008 that he became active in promoting British
            Business by setting up, as joint founder, the BBG in Chennai.
          </p>

          <p class="paras">
            With this valuable experience Stan was swiftly elected as the first
            Chair of the new independent BBG in Lagos in 2017 – a position he
            has retained until today. From an initial group of some 20
            interested members, almost all male and more than 50 years old Stan
            has led the growth to more than 300 members today with the group
            make up now covering the full spectrum of ages, sexes and colours –
            so truly representative of Modern Britain. Regular monthly meetings
            have been held – even throughout the Covid 19 pandemic when they
            went virtual, and sub interest groups and special interest
            discussion groups set up by Stan on whatsapp and telegram have
            flourished.
          </p>

          <p class="paras">
            Stan has proved to be an able diplomat in being the main contact
            person between the Group and the High Commission team where early
            scepticism has turned to solid support. The BBG is now providing
            useful extension services to our Diplomatic team, with a wide data
            base of different industrial and commercial knowledge and experience
            to call upon.
          </p>

          <p class="paras">
            The BBG is developing its website to provide better information to
            its’ members as well as British Companies outside of Nigeria and
            plans to expand this in 2021. Stan is a great extrovert – ideal as
            the founder Chair for the growing BBG – as can also be seen from his
            ability in running effective meetings, to taking the floor as a
            stand-up comic or tripping the light fantastic in a couple of
            Nollywood films.
          </p>

          <p class="paras">
            We are all very proud of Stan and are happy that his contributions
            to the British business community in Lagos has now been properly
            recognized by his award of MBE from her Majesty the Queen.
          </p>

          <button class="more">Read More</button>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <a href="visitors"
            ><div class="vistor boxes">
              <h1>Visitors &rarr;</h1>
            </div></a
          >
        </div>

        <div class="col-lg-6">
          <a href="/signIn"
            ><div class="member boxes">
              <h1>Members &rarr;</h1>
            </div></a
          >
        </div>
      </div>
    </div>

    <%- include ('footer') %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <script src="/js/history.js"></script>
  </body>
</html>
