<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visitors</title>
    <%- include ('links') %>

    <link rel="stylesheet" href="/css/landing.css" />
    <%- include ('prevent') %>
  </head>
  <body>
    <header class="header">
      <%- include ('mainHeader') %>
      <div class="container head-container">
        <div class="box-details">
          <h2 class="headtext">
            Welcome To The British Business Group of Nigeria
          </h2>
          <p class="head-paragraph">
            The British Business Group Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Repellendus obcaecati commodi sequi hic natus.
            Voluptas, rerum minus animi fugiat quasi error aliquam, magnam quis
            numquam, a ipsa. Sed, pariatur labore!
          </p>
          <a href="#" class="learn linkDec">Learn More</a>
        </div>
      </div>
    </header>

    <section class="sectionOne">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h2 class="welcomeHead">
              A VERY WARM WELCOME TO THE BRITISH BUSINESS GROUP
            </h2>

            <div class="welcome-para">
              <p>Welcome to the British Business Group in Nigeria !</p>

              <p>
                BBG Nigeria is a free to join organisation here to promote
                British Business to the highest standard.
              </p>

              <p>
                With more than 300 members, we consider ourselves to be the most
                effective business networking and support group in the country.
              </p>

              <p>
                Our meetings hold on the 1st Thursday of every month, except for
                August and December.
              </p>

              <p>
                These start with a briefing by the British Deputy High
                Commission. Then a main talk on a subject of interest. Followed
                by up to 3 Members’ Introductory talks showcasing their business
                in Nigeria. These presentations keep to time and within 45
                minutes we move on to light refreshments and general networking
                with fellow attendees.
              </p>

              <p>
                Membership is open to British Passport Holders, Persons working
                for a British Company in Nigeria and Persons representing a
                British Business active in Nigeria –
                <a href="#"> Apply on our website now</a>.
              </p>

              We shall be pleased to connect British Businesses, looking for
              possible partners in Nigeria or just seeking more detailed
              information and advice on business here generally, with our
              Members and to assist with anything to do with business here.
            </div>
          </div>

          <div class="col-lg-4 alignCenter">
            <img src="/img/stan1.png" alt="" class="stan" />
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <details>
          <summary>What BBG Nigeria offers to its members</summary>
          <ol>
            <li>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad,
              expedita!
            </li>
            <li>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad,
              expedita!
            </li>
            <li>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad,
              expedita!
            </li>
          </ol>
        </details>
        <details>
          <summary>Members Business Sectors</summary>
          <div
            class="alert alert-warning alert-dismissible fade show"
            role="alert"
          >
            <strong>Kindly</strong> Click on any sector of your choice to get in
            contact with a member
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>

          <ul>
            <li><a href="#">Agriculture</a></li>
            <li><a href="#">Oil and Gas</a></li>
            <li><a href="#">Transportation</a></li>
            <li><a href="#">Automobile</a></li>
            <li><a href="#">Medicine</a></li>
          </ul>
        </details>
      </div>
    </section>

    <section class="sectionThree">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <h3 class="texthead center-text">Latest News and Updates</h3>
            <div class="row">
              <div class="col-lg-6">
                <div class="newsitem">
                  <img class="newsImg" src="/img/uknews.png" alt="" />
                  <h3 class="newsHead center-text">Business Updates</h3>
                  <p class="newsPara newsUtils">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
                  <a href="#" class="readnews linkDec newsUtils">Read more</a>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="newsitem">
                  <img class="newsImg" src="/img/uknews.png" alt="" />
                  <h3 class="newsHead center-text">Business Updates</h3>
                  <p class="newsPara newsUtils">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
                  <a href="#" class="readnews linkDec newsUtils">Read more</a>
                </div>
              </div>
            </div>
            <div class="row">
                <a href="#" class="">Get More</a>
            </div>
          </div>

         
          <div class="col-lg-5 sliding">
            <div class="swiper-container swiper-container3">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="/img/emc3-logo.png" alt="" />
                </div>

                <div class="swiper-slide">
                  <img src="/img/frigo_logo.png" alt="" />
                </div>

                <div class="swiper-slide">
                  <img src="/img/alltrustcontruction-logo.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>

    <%- include ('mainFooter') %>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <script src="/js/swipe.js"></script>
  </body>
</html>

