   
   
   
     <section class="section">
      <div class="container">
        <marquee
          scrollamount="20"
          onmouseover="this.stop(); "
          onmouseout="this.start()"
        >
          <a href="https://www.amglogistic.com/" target="blank">
            <img
              class="adsImg"
              src="/img/amg-SIDEBANNER_2-scaled1.jpg"
              alt=""
            />
          </a>

          <a href="http://citycontracting.com/">
            <img
              src="/img/CITY_review_new_final-1-scaled-1.jpg"
              alt=""
              class="adsImg"
            />
          </a>

          <a href="https://midlanddigitalsolutions.com/" target="blank"
            ><img src="/public/img/frigo_logo.png" alt=""
          /></a>
        </marquee>
      </div>
    </section>

   
   <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 flex-box">
            <h1 class="heads">Contact</h1>
            <div class="connect">
              <p>Telephone : +97143970303</p>
              <p>Email : <a href="#">info@bbg.com</a></p>
            </div>
            <a href="#" class="help"
              >Help <i class="fas fa-question-circle"></i
            ></a>
            <a href="#" class="privacy">Privacy Policy</a>
          </div>
          <div class="col-lg-4 flex-box">
            <h1 class="heads">ADDRESS</h1>
            <p>
              British Business Group
              <br />
              Ikoyi King Fisher
              <br />
              Lagos , Nigeria
              <br />
              P.O. Box 9333
            </p>
            <div class="icons">
              <i class="fab fa-instagram"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-youtube"></i>
              <i class="fab fa-facebook-square"></i>
            </div>
          </div>
          <div class="col-lg-4 flex-box">
            <h1 class="heads">JOIN OUR MAILING LIST</h1>
            <p>Get the Latest updates</p>
            <form class="foot-form">
              <!-- <input type="text" placeholder="Enter Your First Name...">
                        <input type="text" placeholder="Enter Your Last Name..."> -->
              <div class="send">
                <input type="text" placeholder="Enter Your Email..." /><i
                  class="fas fa-paper-plane"
                ></i>
              </div>
            </form>
          </div>
        </div>
      </div>
    </footer>

    <div class="bottom">
      <div class="container center">
        <p>
          CopyRights &copy; 2020 - 2021 British Business Group . All Right
          Reserved.
        </p>
        <a href="#">Developed By : WILFRIEDAKPE</a>
      </div>
    </div>