
  <div class="nav-wrap">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><div class="headImg"></div></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <div style="outline: none" class="navbar-toggler-icon">
            <div class="burger"></div>
            <div class="burger"></div>
            <div class="burger"></div>
          </div>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav navLeft">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                About bbg
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li>
                  <a class="dropdown-item" href="/partners"
                    >OUR PARTNERS AND SPONSORS</a
                  >
                </li>

                <li>
                  <a class="dropdown-item" href="/officers"
                    >BBG OFFICERS</a
                  >
                </li>

                <li>
                  <a class="dropdown-item" href="/members"
                    >MEMBERS</a
                  >
                </li>

              </ul>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Membership
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li>
                  <a class="dropdown-item" href="/membership"
                    >ABOUT BBG MEMBERSHIP</a
                  >
                </li>

                <li>
                  <a class="dropdown-item" href="/join"
                    >JOIN US</a
                  >
                </li>
              </ul>
            </li>






            <li class="nav-item">
              <a class="nav-link" href="/events">Events</a>
            </li>

            

            <li class="nav-item">
              <a class="nav-link" href="/apply">Apply</a>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                News
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li>
                  <a class="dropdown-item" href="/partners"
                    >BUSINESS IN NIGERIA</a
                  >
                </li>

                <li>
                  <a class="dropdown-item" href="/officers"
                    >WEEKLY UPDATES</a
                  >
                </li>

              </ul>
            </li>

          </ul>
        </div>
      </div>
    </nav>
  </div>




  <!-- https://github.com/wilfriedy/bbg.git -->