<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Officers</title>
    <%- include ('links') %>
    <link rel="stylesheet" href="/css/officers.css">
    
    <%- include ('prevent') %>
</head>
<body>
    <%- include ('mainHeader') %>

    <section class="spaced">
        <div class="container ">
            <div class="row">
                <div class="col-lg-8 main">
                    <h1 class="admin-head head">BBG OFFICERS</h1>
                    <hr>

                    <div class="row container">
                        <div class="col-lg-4 identities">
                            <img src="/img/stan1.png" alt="">
                            <h3>Stanley Evans</h3>
                            <p class="position">Chairman</p>
                            <a href="#">stan@gmail.com</a>
                        </div>
                        
                        <div class="col-lg-4 identities">
                            <img src="/img/stan1.png" alt="">
                            <h3>Stanley Evans</h3>
                            <p class="position">Chairman</p>
                            <a href="#">stan@gmail.com</a>
                        </div>
                        
                        <div class="col-lg-4 identities">
                            <img src="/img/stan1.png" alt="">
                            <h3>Stanley Evans</h3>
                            <p class="position">Chairman</p>
                            <a href="#">stan@gmail.com</a>
                        </div>
                        
                    </div>

                </div>

                <div class="col-lg-4 container">
                    <div class="get-in-touch container">
                        <div class="head-box"><h1 class="head text-align">GET IN TOUCH</h1></div>
                        <div class="concerns">
                            <i class="fas fa-map-marker-alt"></i>
                            <p class="loction">
                                British Business Group
                               <br>
                               Ikoyi King Fisher
                               <br>
                               Lagos , Nigeria
                               <br>
                               P.O. Box 9333
                               <br>
                            </p>
                        </div>

                        <div class="concerns">
                            <i class="far fa-envelope"></i>
                            <p class="loction">
                                Email : <a href="#">bbgnigeria@gmail.com</a></p> 
                        </div>

                        <div class="concerns">
                            <i class="fas fa-phone-alt"></i>
                            <p class="loction">  Telephone : <p>080528373402</p> </p> 
                        </div>

                    </div>

                    <div class="swiper-container swiper-container3">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img  src="/img/emc3-logo.png" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img  src="/img/frigo_logo.png" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img  src="/img/alltrustcontruction-logo.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <%- include ('mainFooter') %>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <script src="/js/swipe.js"></script>
</body>
</html>