<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Partner|Sponsors</title>
    <%- include ('links') %>
    <link rel="stylesheet" href="/css/partners.css">
    <%- include ('prevent') %>
  </head>
  <body>
    <%- include ('mainHeader') %> 

        <section class="partners">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 partners-sponsors">
            <h1 class="partners-head">PARTNERS AND SPONSORS</h1>

            <div class="list">
              <div class="spons-box row">
                <div class="col-lg-4 align-center">
                  <img src="/img/cynthian-logo.png" alt="" />
                </div>
                <div class="col-lg-8 texts">
                  <h2 class="company-name">Cynthian</h2>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Repellendus rem facere ipsa eligendi incidunt id.
                  </p>
                  <a href="#" class="read">Read more...</a>
                </div>
              </div>
              <div class="spons-box row">
                <div class="col-lg-4 align-center">
                  <img src="/img/cynthian-logo.png" alt="" />
                </div>
                <div class="col-lg-8 texts">
                  <h2 class="company-name">Cynthian</h2>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Repellendus rem facere ipsa eligendi incidunt id.
                  </p>
                  <a href="#" class="read">Read more...</a>
                </div>
              </div>
              <div class="spons-box row">
                <div class="col-lg-4 align-center">
                  <img src="/img/cynthian-logo.png" alt="" />
                </div>
                <div class="col-lg-8 texts">
                  <h2 class="company-name">Cynthian</h2>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Repellendus rem facere ipsa eligendi incidunt id.
                  </p>
                  <a href="#" class="read">Read more...</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 calendar">
            <div class="swiper-container swiper-container3">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="/img/emc3-logo.png" alt="" />
                </div>

                <div class="swiper-slide">
                  <img src="/img/frigo_logo.png" alt="" />
                </div>

                <div class="swiper-slide">
                  <img
                    src="/img/alltrustcontruction-logo.png"
                    alt=""
                  />
                </div>
              </div>
            </div>

            <div class="upcoming-box calendar-box">
              <h1 class="side-titles">
                <i class="fas fa-bullhorn"></i> UPCOMING EVENTS
              </h1>
            </div>

            <div class="events-box">
              <h3>
                Members Only : In conversation with Stanley Evans, Chairman of
                the BBG Nigeria
              </h3>
              <small>Thur, 29 Nov , 2020</small>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
                porro ea blanditiis, illum odit possimus.
              </p>
            </div>
            <div class="events-box">
              <h3>
                Members Only : In conversation with Stanley Evans, Chairman of
                the BBG Nigeria
              </h3>
              <small>Thur, 29 Nov , 2020</small>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
                porro ea blanditiis, illum odit possimus.
              </p>
            </div>
            <div class="events-box">
              <h3>
                Members Only : In conversation with Stanley Evans, Chairman of
                the BBG Nigeria
              </h3>
              <small>Thur, 29 Nov , 2020</small>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
                porro ea blanditiis, illum odit possimus.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <%- include ('mainFooter') %>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <script src="/js/swipe.js"></script>
  </body>
</html>
